*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(230, 152, 171);
}
.row{
    background: rgb(230, 152, 171);
    width: 80%;
    height: 75%;
    margin: 5% auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.colu{
    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.colu img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.colu p{
    margin: 20px 0;
    color:#fff;
}
.colu h3{
    color:#fff;
}
.colu:hover img {
    transform: scale(1.1);
}
.buot{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid #FFF;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-left: 32%;
    margin-top: 5%;

}
.buot:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

